*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo p{
    font-size: 50px;
    color: white;
}
.logo p:hover{
    color: red;
}

.logo>img{
    height: 70px;
}
header{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #FAC213 ; */
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
nav ul li a{
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0 10px;
    padding: 7px 12px;
}
nav ul li a i{
    margin:0 5px ;
}
.account button{
    border: none;
    background-color: #ee5ad0;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 7px 10px;
    margin: 0 10px;
    border-radius: 5px;
}
.account button:hover{
    box-shadow: 0 0 30px white;

}


nav ul li a:hover{
    color: black;
    background-color: aliceblue;
    border-radius: 10px;
}
body{
    background-image: url(pic/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}